---
import { ClientRouter } from "astro:transitions"
import { AtomIODevtools } from "atom.io/react-devtools"
import "atom.io/react-devtools/css"
import packageJson from "atom.io/package.json"
import { GlobalEffectsManager } from "../components/GlobalEffectsManager.tsx"
import "../globals.css"
import css from "./Layout.module.css"
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color" content="#070707" />
		<meta
			name="description"
			content={`Docs for atom.io: ${packageJson.description}`}
		/>
		<meta name="generator" content={Astro.generator} />
		<title>atom.io | Typed State Engine</title>
		<ClientRouter />
	</head>
	<body>
		<app-shell class={css.class}>
			<header>
				<nav>
					<left-side>
						<a href="/">atom.io.fyi</a>
					</left-side>
					<gap-between />
					<right-side>
						<a href="/docs">docs</a>
						<a
							href="https://github.com/jeremybanka/atom.io/tree/main/packages/atom.io"
						>
							github
						</a>
					</right-side>
				</nav>
			</header>

			<main>
				<banner-message>
					<span>🕊️ Free Palestine 🇵🇸</span>
				</banner-message>
				<slot />
			</main>

			<footer>
				<span>
					<a href="https://www.npmjs.com/package/atom.io">
						<code>{packageJson.version}</code>
					</a>
				</span>
				<span>
					♥️ <a href="https://github.com/jeremybanka">jeremybanka</a>
				</span>
			</footer>
		</app-shell>

		<GlobalEffectsManager client:idle />
		<AtomIODevtools hideByDefault={true} client:only />
	</body>
</html>
